*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* HEADER */
    header {
        background-image: url(../img/jumbo.png);
        background-size: cover;
    }

    .header-col{
        padding: 15px;
    }
    
    .header-col.type-1{
        width: 20%;
    }
    
    .header-col.type-2{
        width: 60%;
    }
    
    .header-col.type-1.logo{
        padding: 8px 15px 15px 15px;
    }

    .headermenu-row{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .header-col.type-1 > a{
        color: black;
    }

    .header-col.type-2 a{
        margin: 0px 35px;
    }
    
    .jumbotron-col{
        width: 100%;
        height: 400px;
        margin-bottom: 25px;
    }

    .jumbotron-text-row{
        display: flex;
        flex-flow: column wrap;

        color: white;
    }

    #jumbotron-h1{
        font-size: 65px;
    }

    #jumbotron-text{
        font-size: 21px;
        margin-top: 45px;
        font-weight: 500;
        line-height: 1.5;
    }

    .jumbotron-btn-row{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .jumbotron-btn-row > a{
        font-size: 20px;
        text-align: center;
    }

    .btn-1{
        width: calc(45% - 150px);
        margin-left: 120px;
        margin-right: 30px;
        color: black;
    }

    .btn-2{
        width: calc(55% - 135px);
        margin-left: 15px;
        margin-right: 120px;
    }

    .btn-1 > span {
        padding-right: 15px;
        font-size: 20px;
    }
/* FINE HEADER */

/* MAIN */
    .blue-col{
        width: 60%;

        display: flex;
        justify-content: center;
    }

    .pink-col{
        width: 40%;
    }

    .main-section-text.type1{
        margin-left: 120px;
    }

    .main-section-text.type2{
        margin-right: 120px;
    }

    .main-section-text > h2{
        font-size: 50px;
        font-weight: bolder;
        margin-top: 40px;
    }

    .main-section-text > p{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
    }

    .main-paragraph-1{
        margin-top: 45px;
    }

    .main-paragraph-2{
        margin-top: 30px;
    }

    .green-col{
        width: 100%;
        height: 800px;
        background-color: #228B22;
    }
/* FINE MAIN */

/* FOOTER */
    .footer-col-1{
        width: 30%;
        height: 500px;
        background-color: #F08080;
    }

    .footer-col-2{
        width: calc(70% / 4);
        height: 500px;
        background-color: #20B2AA;

        border: 2px dashed white;
    }

    .footer-col-3{
        width: 100%;

        background-color: #7FFFD4;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer-col-3 > button{
        margin: 15px 0px 15px 0px;
        padding: 5px;
        
        border: 2px dashed black;
        background-color: #FFB6C1;
    }
/* FINE FOOTER */

/* UTILITIES */
    a{
        text-decoration: none;
        color: white;
    }
    /* SECTION */
        .section-type1{
            width: 100%;
            padding: 15px 0px;
        }

        .section-type2{
            width: 100%;
            padding: 50px 0px;
        }

        .section-type3{
            width: 100%;
            padding: 150px 0px;
        }

        .section-type4{
            width: 100%;
            padding: 5px 0px 20px 0px;
        }

        .section-type5{
            width: 100%;
            padding-top: 20px;
        }
    /* FINE SECTION */

    /* CONTAINER */
        .container-type1{
            width: 70%;
            margin: 0 auto;
        }

        .container-type2{
            max-width: 991px;
            width: 48%;
            margin: 0 auto;
        }

        .container-type3{
            max-width: 1170px;
            width: 60%;
            margin: 0 auto;
            border: 2px dashed black;
        }
    /* FINE CONTAINER */

    .row{
        display: flex;
        flex-flow: row wrap;
    }

    .col{
        border: 2px dashed black;
    }

    /* TEXT ALIGN */
        .text-align-center{
            text-align: center;
        }

        .text-align-right{
            text-align: right;
        }
    /* FINE TEXT ALIGN */

    /* BG-COLOR */
        .bgcolor-black{
            background-color: #23272A;
        }

        .bgcolor-white{
            background-color: #FFFFFF;
        }
    /* FINE BG-COLOR */

    /* BG-IMAGE */
        .bgimg-grey{

        }
    /* FINE BG-IMAGE */

    /* BORDER RADIUS */
        .border-radius{
            padding: 15px 20px;
            border-radius: 25px;
        }
    /* FINE BORDER RADIUS */
/* FINE UTILITIES */